<config template="android (default)" platform="android">Created: Mon Jan 26 20:33:13 2015
By: mokz
Using Template: android (default)

&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="../../../../../program files/marmalade/7.4/extensions/s3efacebook/third-party/facebook-android-sdk/facebook/res;../../../../../program files/marmalade/7.4/extensions/s3eandroidgoogleplaybilling/source/android/res;../../../../../program files/marmalade/7.4/extensions/s3esamsunginapppurchasing/source/android/res" name="android-external-res"/>
    <option fromDef="true" value="" name="android-external-assets"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="true" value="com.mokz.DotsGeDots" name="android-pkgname"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="DotsGeDots" name="name"/>
    <option fromDef="true" value="DotsGeDots" name="caption"/>
    <option fromDef="true" value="mokz" name="provider"/>
    <option fromDef="true" value="(C) mokz" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="../../../../../program files/marmalade/7.4/extensions/s3eandroidgoogleplaybilling/source/android/ExtraManifests.xml;../../../../../program files/marmalade/7.4/extensions/s3esamsunginapppurchasing/source/android/ExtraManifests.xml;../../../../../program files/marmalade/7.4/extensions/fortumo/extras.manifest.txt" name="android-extra-manifest"/>
    <option fromDef="true" value="../../../../../program files/marmalade/7.4/extensions/s3efacebook/source/android/extra_app_manifest.xml;../../../../../program files/marmalade/7.4/extensions/s3eamazoninapppurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../program files/marmalade/7.4/extensions/s3eandroidmarketbilling/s3eAndroidMarketBillingManifest.xml;../../../../../program files/marmalade/7.4/extensions/s3eandroidgoogleplaybilling/source/android/ExtraAppManifests.xml;../../../../../program files/marmalade/7.4/extensions/s3esamsunginapppurchasing/source/android/ExtraAppManifests.xml;../../../../../program files/marmalade/7.4/extensions/fortumo/extras.application.txt" name="android-extra-application-manifest"/>
    <option fromDef="false" value="(app_id,fb_app_id)" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
    <option fromDef="true" value="" name="android-tm"/>
</config>
