<config template="project (default)" platform="project">Created: Mon Jan 26 20:33:07 2015
By: mokz
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="DotsGeDots" name="name"/>
    <option fromDef="true" value="DotsGeDots" name="caption"/>
    <option fromDef="true" value="mokz" name="provider"/>
    <option fromDef="true" value="(C) mokz" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
